{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[1] %}


{% block story %}
<img src="img/kraken02.jpg" alt="Kraken 02">
  <h1>{{ entry.title }}</h1>
  <h5>Captain's log: {{ entry.date }}</h5>
  <p>Felis bibendum ut tristique et egestas quis. Purus semper eget duis at tellus at urna. Vestibulum mattis ullamcorper velit sed. Diam in arcu cursus euismod. Ipsum suspendisse ultrices gravida dictum fusce. Sit amet purus gravida quis blandit turpis cursus in hac.Purus sit amet volutpat consequat mauris nunc congue nisi vitae. Platea dictumst quisque sagittis purus sit amet volutpat. Elementum facilisis leo vel fringilla est ullamcorper. Diam vulputate ut pharetra sit. Elementum tempus egestas sed sed risus pretium quam vulputate dignissim. </p>
{% endblock %}