{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[2] %}


{% block story %}
<img src="img/kraken03.jpg" alt="Kraken 03">
  <h1>{{ entry.title }}</h1>
  <h5>Captain's log: {{ entry.date }}</h5>
  <p>In est ante in nibh mauris cursus mattis. In eu mi bibendum neque. Nisl nisi scelerisque eu ultrices vitae auctor eu. Et egestas quis ipsum suspendisse. Consectetur purus ut faucibus pulvinar elementum integer enim. Non nisi est sit amet.Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Dignissim cras tincidunt lobortis feugiat vivamus at. Quisque id diam vel quam elementum pulvinar etiam non. Massa vitae tortor condimentum lacinia quis vel. Amet est placerat in egestas erat imperdiet sed euismod. Lacus viverra vitae congue eu consequat. Purus semper eget duis at tellus at urna condimentum. </p>
{% endblock %}